<div class='row'>
    <div class='col-2'>
    </div>
    <div class='col-10'>
    <p>一人暮らし（ぼっち）のための、早く・安く作れて<br>なおかつ美味しいレシピを共有するサイトです。</p>
    </div>    
</div>
    
<div class='row'>
        <div class='col-2'>
          <%=render'layouts/sidebar' %>
        </div>
        <div class='col-10'>
        
        <!-- ここにトップページのコンテンツを書いていく！-->
        
        </div>
      </div>
</div>
