<footer class="footer bg-dark mt-4">
 <div class="footer-container">　
　    <h3 class="footer-title  text-center pb-0"><a class="text-white-50" href="/">botchirecipe</a></h3>
　   <ul class="footer-menu text-muted">
　      <li>管理人プロフィール</li>
　      <li>|</li>
　      <li>プライバシーポリシー</li>
　      <li>|</li>
　   　 <li>利用規約</li> 
　   　 <li>|</li>
　      <li>お問い合わせ</li> 
　   </ul>
     <p class="text-muted text-right">©︎2021 botch recipe& All Rights Reserved</p>
  </div>
</footer>